.NavFooter {
    background: linear-gradient(90deg, rgb(28, 27, 27) 0%, rgb(26, 23, 23) 100%);
    height: 400px;
    width: 100%;
    border-top: 50px solid #ffffff;
    font-size: 1.2rem;
    color: rgb(28, 27, 27);
}

.IconFooter {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-template-rows: auto;
    justify-content: center;
    grid-column-gap: 50px;
    padding-top: 70px;

}

.IconLink {
    color: #ffffff;
}