.DetailPost {
    display: grid;
    grid-template-columns: 80% 20%;
    background: rgb(242, 245, 250);;
}

.container {
    margin-top: 50px;
    padding: 30px 50px 30px 100px;
}

#content {
    border-right: 1px solid thistle;
}

.container h1 {
    font-size: 50px;
    color: #1E1A1A;
    font-weight: bold;
}

.container p {
    font-size: 18px;
    color: #424242;
}

.container span {
    font-size: 27px;
    color: #1E1A1A;
    font-weight: bold;
}

.container a:hover {
    text-decoration-line: none;
}

.SideBar {
}

@media screen and (max-width: 960px){

}

@media screen and (max-width: 700px) {


}